<div class="text-sm text-gray-500 font-extralight" style="margin-top: auto;">
  <div class="bg-gray-100 flex justify-center items-center px-12 py-8">

    <div class="flex-1">
      <h1>INFO@MARIACASADO.COM.AR </h1>
      <h1>+5491154516796</h1>
    </div>

    <div class="flex-shrink-0 btn font-thin text-sm px-3 py-1 mx-2 btn-footer pr-6">
      <h1>inscribite para recibir nuestras novedades</h1>
    </div>

    <div class="flex-1">
      <div class="flex flex-row-reverse">
        <div class="px-2 py-2 btn-footer mr-2">
          <%= link_to href: 'https://www.instagram.com/mariacasado.homegallery/' do %>
          <%= image_tag 'instaFooter.png'%>
          <% end %>
        </div>
        <div class="px-2 py-2 btn-footer mr-2">
          <%= link_to href: 'https://www.facebook.com/mariacasadoHG/' do %>
          <%= image_tag 'fbFooter.png'%>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>
