<div class="bg-red-100 w-full h-screen" style="font-family: menlo;">


  <h1 class="text-blue-400 text-4xl text-center pt-2">Maria Casado Home Gallery </h1>
  <h1 class="text-blue-400 text-center">Buenos Aires, Argentina</h1>

  <h1 class="px-2"><%= link_to "artistas", artists_path %></h1>
  <h1 class="px-2"><%= link_to "exposiciones", shows_path %></h1>
  <h1 class="px-2"><%= link_to "fairs", root_path %></h1>
  <h1 class="px-2"><%= link_to "prensa", press_path %></h1>

</div>


<!-- class="text-blue-200 text-4xl pl-4" -->
