<div style="padding-top: 12%; padding-left: 4%;">

  <div class="flex flex-wrap" style="padding-bottom: 12%;">
    <% @carnivals.each do |carnival|  %>


    <div class="w-1/2">
      <div class="pb-8"><%= image_tag asset_path('yellowLine.png')%></div>
      <h2 class="xlarge font-normal pb-3 mt-3 uppercase"><%= carnival.year %></h2>

      <div class="pt-4" style="padding-right: 35%;">
        <h2 class="large font-normal mt-1 uppercase"><%= link_to "#{carnival.title}", carnival_path(carnival)%></h2>
        <h2 class="small mt-3 font-thin"><%= carnival.catalogue %></h2>
      </div>

    </div>

    <% end %>
  </div>

</div>

