.show-container {
  width: 90vw;
  margin: auto;
  display: flex;
  padding: 3rem;
}
.mini-container {
  display: flex;
}

.left-box {
  width: 15vw;
  padding: 2vw;
}

.md-box {
  display: flex;
  margin: auto;
}

.links-show {
  font-size: 2vh;
  display: flex;
  padding: 1rem;
}

  .swiper-slide {
    height: 250px;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .pink {
    background-color: lightpink;
  }

  .green {
    background-color: lightgreen;
  }

  .blue {
    background-color: lightblue;
  }
