.show-container {
  width: 90vw;
  margin: auto;
  display: flex;
  padding: 3rem;
}
.mini-container {
  display: flex;
}

.left-box {
  width: 15vw;
  padding: 2vw;
}

.md-box {
  display: flex;
  margin: auto;
}

.links-show {
  font-size: 2vh;
  display: flex;
  padding: 1rem;
}
