.navbar-lewagon {
  justify-content: space-between;
  width: 90vw;
  margin: auto;
}


.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.logo-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}


@media (max-width : 321px) {
  h1 {
    font-size: 1.2rem;
  }
}
@media (max-width : 587px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media (max-width : 800px) {
  h1 {
    font-weight: 500;
    font-size: 2rem;
  }
}

.btn {
  background-color: white;
  box-shadow: 0 0 1px;
  // cursor: auto;
  border-radius: 20px;
  // cursor: pointer;
}

.btn-random {
  background-color: white;
  box-shadow: 0 0 3px;
  // cursor: auto;
  border-radius: 60px;
  // cursor: pointer;
  // background-color: transparent;
}


.btn-round {
  background-color: white;
  box-shadow: 0 0 1px;
  // cursor: auto;
  border-radius: 20px;
  // cursor: pointer;
}

.btn-footer {
  background-color: white;
  box-shadow: 0 0 0px;
  // cursor: auto;
  border-radius: 20px;
  // cursor: pointer;
}
