.navbar-lewagon {
  justify-content: space-between;
  width: 80vw;
  margin: 1vw 10vw 0vw 8vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-link {
  display: flex;
  justify-content: space-between;
}

.logo-navbar {
  display: flex;
  justify-content: space-between;
}

