

<div class="flex flex-wrap">
  <% @shows.each do |show|  %>
  <div class="w-1/2">
    <h1 class="uppercase"><%= link_to "#{show.title}", show_path(show)  %></h1>
    <h1><%= show.about  %></h1>
  </div>
  <% end %>
</div>
